node_modules/

.next/
out/
*.log

.git/
.gitignore
.svn/
.hg/

.env*
!.env.example

.editorconfig
.eslintignore
.eslintrc.json
.prettierrc
.prettierignore
.vscode/

*.DS_Store
*.swp
*.swo
*~

__tests__/
*.test.js
*.spec.js

/storybook-static
